.card-title {
    line-height: 1.3;
    font-size: 24px;
    margin-bottom: 10px;
}

.default-container.detail {
    margin-top: 100px;
    position: relative;

    .avatar {
        position: absolute;
        top: -50px;
        left: 120px;
        height: 150px;
        width: 150px;
    }

    .basic-info {
        margin-left: 320px;
        line-height: 2;
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        font-size: 18px;
    }


}


.profile-card-container {
    padding: 0 20px;
    margin: 20px 0;

    .profile-card {
        border: #e6e6e6 solid 1px;
        border-radius: 2px;
        height: 150px;
        position: relative;
        cursor: pointer;


        .avatar {
            width: 100px;
            height: 100px;
            margin: 25px 25px;
            display: inline-block;
        }

        .text {
            display: inline-block;
            position: absolute;
            top: 30px;
            line-height: 1.5;
        }
    }

    .profile-card:hover {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
    }

    .profile-card.no-score .text {
        top: 40px;
    }

}

.student-link {
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
    border-bottom-style: dotted;
    border-bottom-color: rgba(0, 0, 0, .60);
    border-bottom-width: medium;
}

